/* css styles */
#quarto-header > nav.navbar {
   padding: 0; 
}

code:not(.sourceCode) {
    background-color:  #2e363e !important;
   color: #c6d7e0 !important;
}

h2, .h2 {
    border-bottom: 2px solid rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
    opacity: .9;
    margin-top: 1.5rem;
}

h3, .h3 {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
    text-underline-offset: 5px;
    opacity: .9;
    margin-top: 1.5rem;
}
