name: DevTests

on:
  push:
    branches: [ dev* ]
  pull_request:
    branches: [ dev* ]


jobs:
  tests-linux:
    runs-on: ubuntu-latest

    strategy:
      # Don't abort runners if a single one fails
      fail-fast: false

      matrix:
        compiler: ["gcc", "clang"]
        cex_preset: ["CEX_DEBUG", "CEX_X32"]

    steps:
      - name: Checkout cex
        uses: actions/checkout@v4

      - uses: ./.github/actions/env_setup
        name: Setup env

      - name: cc setup
        run: |
          #sudo add-apt-repository ppa:ubuntu-toolchain-r/test
          #sudo apt-get update
          sudo apt-get install ${{ matrix.compiler }}
          sudo apt-get install valgrind
          echo "Replacing: cc to ${{ matrix.compiler }}"
          sudo rm /usr/bin/cc
          sudo ln -s /usr/bin/${{ matrix.compiler }} /usr/bin/cc 
          echo "cc --version"
          cc --version

      - name: cex initial build
        run: |
          ulimit -c unlimited 
          ls -la
          echo "Priming cex tool"
          cc -g ./cex.c -o ./cex 
          ./cex -D${{ matrix.cex_preset }} config

      - uses: ./.github/actions/cex_test
        name: cex test suite

      - name: valgrind tests
        run: |
          ./cex -DCEX_VALGRIND config
          ./cex test clean all
          ./cex test debug all

      - uses: actions/upload-artifact@master # capture all binaries
        with:
          name: ${{ github.job }}_build_exe_${{ matrix.compiler }}-${{ matrix.cex_preset }}
          path: build/


  tests-windows:
    name: ${{ matrix.runs-on }}-${{ matrix.msys }}-${{ matrix.cex_preset }}
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        cex_preset: 
          - CEX_DEBUG
        msys:
          - mingw64
          - clang64
        runs-on:
          - 'windows-latest'

    defaults:
      run:
        shell: msys2 {0}
    steps:
      - name: 'Setup MSYS2'
        uses: msys2/setup-msys2@v2
        with:
          msystem: ${{matrix.msys}}
          update: true
          install: >-
            git
          pacboy: >-
            toolchain:p

      - name: 'Test cc version / config'
        run: |
          git config --global core.autocrlf input
          cc --version

      - name: 'Checkout'
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: cex initial build
        run: |
          echo "Who am I"
          whoami

          echo "ulimit"
          ulimit -c unlimited 
          ls -la

          echo "git --version"
          git --version

          echo "Priming cex tool"
          cc -g ./cex.c -o ./cex.exe 
          ./cex.exe -D${{ matrix.cex_preset }} config

      - uses: ./.github/actions/cex_test
        name: cex test suite
        with:
          shell: 'msys2 {0}'

      - uses: actions/upload-artifact@master # capture all binaries
        if: always()
        with:
          name: ${{ github.job }}_build_exe_${{ matrix.runs-on }}-${{ matrix.msys }}-${{ matrix.cex_preset }}
          path: build/

  tests-macos:
    name: ${{ matrix.runs-on }}-${{ matrix.cex_preset }}
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        cex_preset: 
          - CEX_DEBUG
        runs-on:
          - macos-13      # x86
          - macos-latest  # arm64
    steps:
      - name: Checkout cex
        uses: actions/checkout@v4

      - name: cc version / setup
        run: |
          echo "cc --version"
          cc --version

      - name: cex initial build
        run: |
          ulimit -c unlimited 
          ls -la
          echo "Priming cex tool"
          cc -g ./cex.c -o ./cex 
          ./cex -D${{ matrix.cex_preset }} config

      - uses: ./.github/actions/cex_test
        name: cex test suite

      - uses: actions/upload-artifact@master # capture all binaries
        with:
          name: ${{ github.job }}_build_exe_${{ matrix.runs-on }}-${{ matrix.cex_preset }}
          path: build/

  tests-linux-multiarch:
    name: alpine-${{ matrix.arch }}-${{ matrix.cex_preset }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        cex_preset: 
          - CEX_RELEASE
        arch:
          - x86_64
          - x86
          #- armv7
          #- armhf
          #- riscv64
          #- s390x
    steps:
      - uses: actions/checkout@v2

      - name: Setup latest Alpine Linux
        uses: jirutka/setup-alpine@v1
        with:
          arch: ${{ matrix.arch }}

      - name: Run script inside Alpine chroot as root
        shell: alpine.sh --root {0}
        run: |
          cat /etc/alpine-release
          apk add gcc
          apk add musl-dev
          apk add git
          apk add file
          apk add pkgconf
          apk add zlib-dev
          apk add valgrind

      - name: Environment
        shell: alpine.sh {0}
        run: |
          cc --version

      - name: cex initial build
        shell: alpine.sh {0}
        run: |
          ls -la  # as you would expect, you're in your workspace directory
          echo "Priming cex tool"
          cc -g ./cex.c -o ./cex 
          echo "Compiled cex executable"
          file ./cex
          echo "CEX config"
          ./cex -D${{ matrix.cex_preset }} config

      - name: unit tests
        shell: alpine.sh {0}
        run: |
          ./cex test run all
          #./cex test run tests/test_allocator_heap.c
          #./cex test run tests/test_sprintf.c
  #
  wasm-enscripten:
    runs-on: ubuntu-latest

    strategy:
      # Don't abort runners if a single one fails
      fail-fast: false

      matrix:
        cex_preset: ["CEX_WASM_DEBUG", "CEX_WASM_RELEASE"]

    steps:
      - name: Checkout cex
        uses: actions/checkout@v4

      - uses: ./.github/actions/env_setup
        name: Setup env

      - name: cc setup
        run: |
          echo "cc --version"
          cc --version
          git clone https://github.com/emscripten-core/emsdk.git
          cd emsdk
          ./emsdk install latest
          ./emsdk activate latest

      - name: cex initial build
        run: |
          source ./emsdk/emsdk_env.sh
          echo "EMCC / Node.js version"
          emcc --version
          node --version
          ulimit -c unlimited 
          ls -la
          echo "Priming cex tool"
          cc -g ./cex.c -o ./cex 
          ./cex -D${{ matrix.cex_preset }} config

      - name: cex wasm test suite
        run: |
          source ./emsdk/emsdk_env.sh
          ./cex test debug all

  clang-tidy:
    runs-on: ubuntu-latest

    strategy:
      # Don't abort runners if a single one fails
      fail-fast: false

      matrix:
        compiler: ["clang"]

    steps:
      - name: Checkout cex
        uses: actions/checkout@v4

      - uses: ./.github/actions/env_setup
        name: Setup env

      - name: cc setup
        run: |
          sudo apt-get install ${{ matrix.compiler }}
          sudo apt-get install clang-tidy
          echo "Replacing: cc to ${{ matrix.compiler }}"
          sudo rm /usr/bin/cc
          sudo ln -s /usr/bin/${{ matrix.compiler }} /usr/bin/cc 
          echo "cc --version"
          cc --version
          echo "clang-tidy --version"
          clang-tidy --version

      - name: clang-tidy checks
        run: |
          clang-tidy $(find ./src -name "*.c" -o -name "*.h")
