name: Examples

on:
  push:
    branches: [ dev*, master ]
  pull_request:
    branches: [ dev*, master ]


jobs:
  tests-linux:
    runs-on: ubuntu-latest

    strategy:
      # Don't abort runners if a single one fails
      fail-fast: false

      matrix:
        compiler: ["clang"]
        cex_preset: ["CEX_DEBUG"]

    steps:
      - name: Checkout cex
        uses: actions/checkout@v4

      - uses: ./.github/actions/env_setup
        name: Setup env

      - name: cc setup
        run: |
          #sudo add-apt-repository ppa:ubuntu-toolchain-r/test
          #sudo apt-get update
          sudo apt-get install ${{ matrix.compiler }}
          sudo apt-get install valgrind
          sudo apt-get install curl
          sudo apt-get install unzip
          sudo apt-get install libreadline-dev # only for lua_module!
          sudo apt-get install libcurl4-openssl-dev
          sudo apt-get install libzip-dev
          echo "Replacing: cc to ${{ matrix.compiler }}"
          sudo rm /usr/bin/cc
          sudo ln -s /usr/bin/${{ matrix.compiler }} /usr/bin/cc 
          echo "cc --version"
          cc --version

      - name: cex initial build
        run: |
          ulimit -c unlimited 
          ls -la
          echo "Priming cex tool"
          cc -g ./cex.c -o ./cex 
          ./cex -D${{ matrix.cex_preset }} config

      - name: freestanding examples
        run: |
          ulimit -c unlimited 
          cd examples/freestanding
          ls -la
          clang ./cex.c -o ./cex 
          ./cex config
          ./cex build src/freestanding_1minimal.c
          ./cex build src/freestanding_2mem.c
          ./cex build src/freestanding_3ds.c
          ./cex build src/freestanding_4strings.c
          ./cex build src/freestanding_5io.c
          ./cex build src/freestanding_6os.c

      - uses: ./.github/actions/cex_examples
        name: cex examples suite



  tests-windows:
    name: ${{ matrix.runs-on }}-${{ matrix.msys }}-${{ matrix.cex_preset }}
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        cex_preset: 
          - CEX_DEBUG
        msys:
          - clang64
        runs-on:
          - 'windows-2022'

    defaults:
      run:
        shell: msys2 {0}
    steps:
      - name: 'Setup MSYS2'
        uses: msys2/setup-msys2@v2
        with:
          msystem: ${{matrix.msys}}
          update: true
          install: >-
            git
            curl
            unzip
            libcurl
            libcurl-devel
            libzstd-devel
            tree
          pacboy: >-
            toolchain:p

      - name: 'Test cc version / config'
        run: |
          git config --global core.autocrlf input
          cd /c/vcpkg
          ./vcpkg install --triplet=x64-mingw-static curl
          ./vcpkg install --triplet=x64-mingw-static libzip
          cd installed/
          tree
          cc --version

      - name: 'Checkout'
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: cex initial build
        run: |
          echo "Who am I"
          whoami

          echo "ulimit"
          ulimit -c unlimited 
          ls -la

          echo "git --version"
          git --version

          echo "Priming cex tool"
          cc -g ./cex.c -o ./cex.exe 
          ./cex.exe -D${{ matrix.cex_preset }} config

      - uses: ./.github/actions/cex_examples
        name: cex examples suite
        with:
          shell: 'msys2 {0}'

  tests-macos:
    name: ${{ matrix.runs-on }}-${{ matrix.cex_preset }}
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        cex_preset: 
          - CEX_DEBUG
        runs-on:
          - macos-latest  # arm64
    steps:
      - name: Checkout cex
        uses: actions/checkout@v4

      - name: cc version / setup
        run: |
          echo "cc --version"
          cc --version
          brew install readline   # for lua_module compilation
          brew install curl
          brew install unzip
          brew install libzip

      - name: cex initial build
        run: |
          ulimit -c unlimited 
          ls -la
          echo "Priming cex tool"
          cc -g ./cex.c -o ./cex 
          ./cex -D${{ matrix.cex_preset }} config

      - uses: ./.github/actions/cex_examples
        name: cex examples suite

